<!DOCTYPE html>
<html>
<head>
	<title>thpEventBrite</title>
</head>
<body style="background-image: ;">
<center>
	<div class="card" style=""	background-image: >
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
    <h5 style="font-size: 5em;" class="card-title"><%= @event.title %></h5>
  
<%if @event.event_picture.attached?%>
  <%= image_tag @event.event_picture, alt: 'event_picture' %>
<%else%>
  <p> Il n'y a pas encore d'image liée à cet évenement </p>
<%end%>

    <p style="text-align: center;font-size: 1.2em;;"> By <%= @event.admin.first_name %> </p>
    <p  style="text-align: center;" class="card-text"> <%= @event.description %></p>
     <p style="text-align: center;font-size: 1.2em;;"> Créé le :</p> <%= @event.created_at %> <br/>
     <p style="text-align: center;font-size: 1.2em;;"> Prix: <%= @event.price %> €</p>
        <p style="text-align: center;font-size: 1.2em;;"> Aura lieu le <%= @event.start_date %> </p>
          <p style="text-align: center;font-size: 1.2em;;"> Lieu : <%= @event.location %> </p>
     <br/>
        <p style="text-align: center;font-size: 1.2em;;"> Pendant <%= @event.duration %> minutes </p>
     <br/>
       <p style="text-align: center;font-size: 1.2em;;"> Email du créateur </br>  <%= @event.admin.email %></p>

      <% if current_user  %>
        <% if current_user != @event.admin && attending_event?.include?(current_user.id) == false   %>
         <p  style="color: white; font-size: 1em; border-radius: 20px;" class="btn btn-warning" >  <%= link_to "Participer à cet évenement",new_event_attendance_path(@event.id)%>  </p>
        <% end %>

     <% else %>
      <p  style="color: white; font-size: 1em; border-radius: 20px;" class="btn btn-warning" >  <%= link_to "Connectez vous pour participer à cet évenement", new_user_session_path%>  </p>


     <% end %>

       <% if current_user && is_event_admin?(@event.admin) %>


    
      <p  style="color: white; font-size: 1em; border-radius: 20px;" class="btn btn-danger" >  <%= link_to "Supprimer", event_path(@event.id),method: :delete %>  </p>

      <p  style="color: white; font-size: 1em; border-radius: 20px;" class="btn btn-outline-primary"></button>  <%= link_to "Editer", edit_event_path(:id => @event.id)%></p>

       <p  style="color: white; font-size: 1em; border-radius: 20px;" class="btn btn-light" >  <%= link_to "Liste des inscrits", event_attendances_path(@event.id)%></p>

       <h3>Changer l'image de l'évenement ?</h3>
        <%= form_tag  event_pictures_path(@event.id), multipart: true do %>
        <%= file_field_tag :event_picture %>
        <%= submit_tag "Mettre à jour" %>

        
     
        <% end %>


     
        


        
       <% end %>


 
 



     

   

  </div>
</div>
</center>
<% if flash[:notice] %>
       <div class="alert alert-dismissible alert-success">
       <div class="notice"><strong><%= flash[:notice] %></strong>
      </div>
       <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% end %>

       <% if flash[:error] %>
  <div class="alert alert-dismissible alert-danger">
    <div class="notice"><strong><%= flash[:error] %></strong>
     </div>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
<% end %>

</body>
</html>